* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria;
    background-color: grey;
    font-size: 120%;
}

#container-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

#container-calc {
    background: #000000d0;
    color: black;
    margin: 0;
    border-radius: 30px;
    padding: 2em;
    width: 350px;
    height: 350px;
}

#calc-top {
    border: 5px solid whitesmoke;
}

#display {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 42px;
}

#calc-bot {
    margin: 20px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 65%;
}

.grid > * {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border: 1px solid whitesmoke;
    height: 100%;
    width: 100%;
    
}

#gridc {
  background-color: rgba(255, 0, 0, 0.5);
}

/*
#grid\= {

}
*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000d0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  input:checked + .slider:before {
    background-color: black;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }